*{
   background-image:url(https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523) ;
   background-size: cover;
   background-repeat:no-repeat;
   opacity:1;
}
.firstline{
    color:white;
    font-family:"Roboto";
    text-align: center;
    font-weight:lighter;
}
.title{
    color:white;
    text-align:center;
    text-decoration:double;
    

}
#read{
    color:white;
}

.optimist{
    color:white;
}

button{
    background-color:yellow;
    color:white;
    align-items:center;



}
.footer{
    color:white;
    text-align:center;
    text-decoration:underline;

}